<div id="today"></div>
<form action="/subscribe" method="post" class="subscribe">
  <input name="email" type="email" placeholder="Your email">
  <input type="submit" value="Subscribe me" class="button">
  <select name="timezone"><%= ZONES.map { |offset, *names| "<option value='#{offset}'>#{names.join(" - ")}</option>" }.join %></select>
  <p class="hint">One email, daily, with a random picture from the Flickr pool.</p>
</form>
<script>//<![CDATA[
  var now = new Date(),
      date1 = new Date(now.getFullYear(), 0, 1, 0, 0, 0, 0),
      gmt = date1.toGMTString(),
      date2 = new Date(gmt.substring(0, gmt.lastIndexOf(" ") - 1)),
      hoursDiffStdTime = (date1 - date2) / (1000 * 60 * 60);
      $("select[name=timezone]").val(hoursDiffStdTime);
  $("#today").load("/today/" + now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate(),
    function() { $(this).find("img.photo").bind("load", function() { $("#today").fadeIn(1000) }) }
  )
//]]></script>
