<section class="what">
  <p>I work from home and I love what I do. When you're not dreading Monday nor
  waiting for Friday, days start blurring into each other.</p>
  <p><q>Is today Tuesday?</q></p>
  <p><q>No, wait, wasn't Tuesday just yesterday?</q></p>
  <p><q>Tomorrow, you say?</q></p>
  <p>So I created this little service to do nothing more complicated than send me
  an email every morning, to remind me what day it is.</p>
</section>
<section class="subscribe">
  <form action="/subscribe" method="post">
    <input name="email" type="email" placeholder="Your email">
    <input type="submit" value="Subscribe me" class="button">
  </form>
</section>
