<!DOCTYPE HTML>
<html>
  <head>
    <title>The Daily Hi</title>
    <link href="/daily.css" media="screen" rel="stylesheet" type="text/css"> 
  </head>
  <body>
    <h1><a href="/">The Daily Hi</a></h1>
    <%= yield %>
    <div class="footer">
      Brought to you by <a href="http://labnotes.org">Assaf Arkin</a>
    </div>
  </body>
</html>
