<p>Thank you.</p>
<p>We're sending you an email to verify your address. You're only
one click away from daily bliss.</p>
<p>Check your email.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Now would be a good time.</p>
