<p>Awsome!</p>
<p>Now sit back and relax. The first email will show up tomorrow.</p>
<p>BTW, did you know that &hellip;</p>
<script language="JavaScript" src=" http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.factropolis.com%2Frss.xml&chan=title&num=1" type="text/javascript"></script>
