body {
  width: 560px;
  margin: 0 auto;
  font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
form input[type=email] { font: 14pt "Andale Mono", "Courier New", Courier, mono; width: 20em; padding: 4px }
.button {
  font-size: 12pt;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #dddddd;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #0073ea;
  outline: none;
  line-height: 1.8em;
  vertical-align: bottom;
  padding: 2px 12px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(226,226,226,0.0)), to(rgba(226,226,226,1.0)));
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.0);
}
.button:hover, .button:focus {
	text-shadow: 0 -1px 1px rgba(255,255,255,0.25);
  border: 1px solid #0073ea;
  background: #0073ea 50% 50% repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 115, 234, 0.5)), to(rgba(0,115,234, 1.0)));
  color: #fff;
  text-decoration: none;
  cursor: pointer;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.button:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 115, 234, 1.0)), to(rgba(0,115,234, 0.5))); position: relative; top: 1px }

.success { color: #00B100 }
.error { color: #FF0000 }
.right { float: right }
.footer { margin-top: 6em; padding-top: .3em; color: #888; font: 10pt; border-top: 2px solid #CEE4F4 }

h1 { border-bottom: 5px solid #CEE4F4 }
h1 a { color: #3F7089; text-decoration: none } 
.what { margin: 2em 0 }
.rss-title { display: none }
.rss-item { display: block }
.special { color: #fff; font-style: italic; text-shadow: 0px 0px 4px #666 }
